

.last-blend-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.last-top-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.last-cover-art{
  width: 16vw;
  height: 16vw;
  background-size: cover;
  flex-shrink: 0;
}

.last-blend-cover-icon{
  font-size: 16vw !important;
  box-sizing: border-box;
  height: 16vw;
  border: 1px whitesmoke solid;
}

.last-bottom-container p{
  margin: 2px 0;
}
