
.profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 54px);
}

.profile-user-avatar{
  height: 40vw;
  width: 40vw;
  max-height: 210px;
  max-width: 210px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
