
.blend-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  height: 100%;
  padding: 16px 32px;
  margin: 0 auto;
  width: calc(100% - 2*32px);
  max-width: 1080px;
}

.blend-title-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

img.blend-title-image{
  height: 20vw;
  width: 20vw;
  max-width: 344px;
  max-height: 344px;
  background-size: cover;
}

i.blend-title-image{
  font-size: 230px;
}

.blend-title-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: rgb(194, 194, 194);
  margin-left: 16px;
  font-weight: 600;
}

.blend-title-text h3{
  font-size: 2.6rem;
  color: whitesmoke;
}

.code-text{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.blend-title-contributors{
  cursor: pointer;
}

.blend-title-contributors:hover{
  text-decoration: underline;
}



.blend-contributors-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  white-space: pre;
}

.track-list-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 24px;
}


.add-tracks-container{
  width: 100%;
}

.add-track-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.add-track-item i.remove-track{
  cursor: pointer;
  color: #eb5858;
  margin: 0 4px;
  transition: all 0.2s ease-in-out;
}

.add-track-item i.remove-track:hover{
  text-shadow: 0 0 4px #ff9000;
  transform: scale(1.01);
}

.add-tracks-btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 33%;
  margin-top: 16px;
}
