
.app-nav{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #151515;
  padding: 24px;
  border-right: 2px #1ed760 solid;
  height: calc(100% - 2*24px); /*More padding removal*/
  width: var(--desktop-nav-width);
}

.title-logo-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}

nav img{
  width: 48px;
  height: 48px;
}

.title-logo-container h1{
  font-size: 2.4rem;
  margin: 0px;
  margin-left: 8px;
  font-weight: 550;
  color: whitesmoke;
  cursor: pointer;
}

.nav-item{
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 16px 0;
  color: rgb(194, 194, 194);
  transition: all 0.2s linear;
}

.selected{
  color: #1ed760;
}

.nav-item:hover{
  color: whitesmoke;
  text-decoration: none;
}

.nav-item-text{
  margin-left: 8px;
  cursor: pointer;
}

.nav-item i{
  font-size: 1.8rem;
  cursor: pointer;
}

.nav-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.nav-user-link{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
  color: whitesmoke
}

.nav-user-link span{
  margin-left: 8px;
  transition: all 0.14s ease-in-out;
}

.nav-user-link:hover{
  text-decoration: none;
  cursor: pointer;
  color: #66f598;
}

.nav-user-avatar{
  height: 28px;
  width: 28px;
  font-size: 28px;
  border-radius: 50%;
  color: whitesmoke;
  background-size: cover;
  margin: 0;
}

.app-content-container{
  padding-left: calc(var(--desktop-nav-width) + 48px + 2px);
  min-height: 100vh;
  width: calc(100vw - var(--desktop-nav-width) - 48px - 2px - 18px) /*Remove navigation, scrollbar and padding and thickness*/
}