/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  nav.app-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: auto;
    border: 0;
  }

  nav .title-logo-container{
    display: none;
  }

  nav .nav-top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 54px;
  }

  .nav-item{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px 8px;
    font-size: 1.08rem;
  }

  .nav-item-text{
    margin: 0;
    text-align: center;
  }

  .nav-item i{
    font-size: 1.6rem;
  }


  nav .nav-bottom-container{
    display: none;
  }

  .app-content-container{
    padding: 0;
    height: calc(100vh - 54px);
    width: 100%;
  }

}