
@media only screen and (max-width: 600px) {

  html .app-container .btn {
    font-size: 0.9rem;
  }

  .app-container .app-content-container h3{
    font-weight: 600;
    margin: 0 0 8px 0;
    font-size: 2.6rem;
  }

  .app-container .app-content-container h4{
    font-size: 1.8rem;
    margin: 0 0 8px 0;
    font-weight: 500;
  }

  .app-container .app-content-container h5{
    font-size: 1.4rem;
    margin: 0 0 8px 0;
    font-weight: 500;
  }

}
