:root{
  --desktop-nav-width: 200px
}

html{  
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #20252b;
  width: 100%;
  height: 100%;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body, #app{
  margin: 0;
  padding: 0;
  height: 100%;
  /*Bootstrap fonts*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.app-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgb(42, 49, 40), rgb(15, 15, 15) 85%);
  color: whitesmoke;
  font-weight: 500;
}

.react-root{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app-container .app-content-container hr{
  border: 0;
  border-bottom: 1px solid;
  border-color: rgba(245, 245, 245, 0.6);
  width: 100%;
  margin: 0;
  margin-bottom: 4px;
  height: 1px;
}

.app-container .app-content-container h3{
  font-weight: 600;
  margin: 0 0 8px 0;
  font-size: 3.2rem;
}

.app-container .app-content-container h4{
  font-size: 2rem;
  margin: 8px 0;
  font-weight: 500;
}

.app-container .app-content-container h5{
  font-size: 1.64rem;
  margin: 8px 0;
  font-weight: 500;
}


html .app-container .btn {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  border: 2px #1ed760 solid;
  background: #1ed760;
  color: #ffffff;
  border-radius: 24px;
  padding: 4px 16px;
  transition: all 66ms linear;
}

html .app-container .btn.black{
  border: 2px whitesmoke solid;
  background: #070707;
  color: whitesmoke;
}

html .app-container .btn.white{
  border: 2px transparent solid;
  background: #fff;
  color: black;
}

html .app-content-container .btn.small{
  font-size: 1rem;
  padding: 2px 12px
}

html .app-container .btn:hover{
  transform: scale(1.06);
}

html a{
  text-decoration: none;
}
