@media only screen and (max-width: 600px) {

  .blends-container{
    height: auto;
    padding-bottom: 8px;
    margin-bottom: 54px;
  }

  .blends-history-filter span{
    font-size: 0.88rem;
  }

}
