
@media only screen and (max-width: 600px) {

  .recent-blend-container{
    width: 144px;
    flex-shrink: 0;
  }

  .recent-blend-container .blend-cover-art{
    padding-top: 100%;
    background-size: cover;
  }

  .blend-cover-icon{
    font-size: 144px !important;
    box-sizing: border-box;
    height: 144px;
  }
}
