

.recent-blend-container{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 184px;
  padding: 0 4px;
}

.recent-blend-container .blend-cover-art{
  padding-top: 100%;
  width: 100%;
  background-size: cover;
  cursor: pointer;
}

.recent-blend-container a.blend-name{
  color: whitesmoke;

}

.blend-cover-icon{
  font-size: 184px !important;
  border: 1px whitesmoke solid;
}
