

.recent-blend-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 184px;
  padding: 0 4px;
}

.recent-cover-art{
  padding-top: 100%;
  width: 100%;
  background-size: cover;
  cursor: pointer;
}

.recent-blend-container a.title{
  margin-top: 8px;
  font-size: 1.16rem;
}

.recent-blend-container p{
  margin: 8px 0;
}

.blend-cover-icon{
  font-size: 184px !important;
  border: 1px whitesmoke solid;
}
